rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Global Deny
    match /{document=**} {
      allow read, write: if false;
    }

    function isSignedIn() {
      return request.auth != null;
    }

    function isOwner(userId) {
      return isSignedIn() && request.auth.uid == userId;
    }

    function isAdmin() {
      return isSignedIn() && request.auth.token.email == 'tianerocyrus@gmail.com';
    }

    match /users/{userId} {
      allow get: if isOwner(userId);
      allow create, update: if isOwner(userId) && 
        request.resource.data.keys().hasAll(['money', 'xp', 'activeRodId']) &&
        request.resource.data.money is number &&
        request.resource.data.xp is number;
    }

    match /system/{document} {
      allow read: if true;
      allow write: if isAdmin();
    }
  }
}
